# Setup

In [ ]:
!pip install eventstudy

Requirement already satisfied: eventstudy in /usr/local/lib/python3.7/dist-packages (0.1a12)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from eventstudy) (0.10.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from eventstudy) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from eventstudy) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from eventstudy) (3.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from eventstudy) (1.1.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->eventstudy) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->eventstudy) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->eventstudy) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->eventstudy) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->eventstudy) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->eventstudy) (2018.9)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->eventstudy) (0.5.1)

In [ ]:
import datetime
import eventstudy as es
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Event 1, 5 day window

## Mining

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Mining.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,35):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 34 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5  1.937        0.811    1.937 **         0.811   2.387    0.017
-4  8.358        0.811  10.295 ***         1.148   8.971    0.000
-3  3.406        0.811  13.701 ***         1.406   9.748    0.000
-2  2.122        0.811  15.823 ***         1.623   9.749    0.000
-1 -2.843        0.811   12.98 ***         1.815   7.153    0.000
0   3.234        0.811  16.214 ***         1.988   8.157    0.000
1   0.802        0.811  17.017 ***         2.147   7.926    0.000
2  -0.932        0.811  16.084 ***         2.295   7.008    0.000
3  -3.603        0.811  12.481 ***         2.434   5.127    0.000
4   0.430        0.811  12.911 ***         2.566   5.031    0.000
5  -1.178        0.811  11.732 ***         2.691   4.359    0.000

## Construction

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Construction.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,16):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 15 companies in this study.

      AAR  Std. E. AAR         CAAR  Std. E. CAAR  T-stat  P-value
-5 -0.697         0.54       -0.697         0.540  -1.292    0.197
-4 -1.361         0.54   -2.059 ***         0.763  -2.697    0.007
-3 -2.681         0.54    -4.74 ***         0.935  -5.070    0.000
-2 -4.065         0.54   -8.804 ***         1.080  -8.156    0.000
-1 -0.421         0.54   -9.226 ***         1.207  -7.644    0.000
0   0.936         0.54    -8.29 ***         1.322  -6.270    0.000
1  -4.504         0.54  -12.794 ***         1.428  -8.959    0.000
2  -1.105         0.54    -13.9 ***         1.527  -9.105    0.000
3   1.932         0.54  -11.967 ***         1.619  -7.390    0.000
4  -1.104         0.54  -13.071 ***         1.707  -7.658    0.000
5   0.032         0.54  -13.039 ***         1.790  -7.284    0.000

## Manufacturing

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Manufacturing.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,104):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 103 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -1.353        0.402  -1.353 ***         0.402  -3.364    0.001
-4 -0.320        0.402  -1.673 ***         0.569  -2.942    0.003
-3  0.550        0.402      -1.123         0.697  -1.612    0.107
-2  1.668        0.402       0.546         0.804   0.678    0.498
-1  0.199        0.402       0.745         0.899   0.828    0.408
0   0.072        0.402       0.816         0.985   0.829    0.407
1  -0.450        0.402       0.366         1.064   0.344    0.731
2   1.034        0.402         1.4         1.137   1.231    0.218
3  -0.483        0.402       0.917         1.206   0.760    0.447
4   0.016        0.402       0.933         1.272   0.734    0.463
5   0.473        0.402       1.406         1.334   1.054    0.292

## Transport and utilities

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/transportation_etc.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,29):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 28 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -6.251        0.501  -6.251 ***         0.501 -12.490    0.000
-4 -2.632        0.501  -8.884 ***         0.708 -12.550    0.000
-3 -0.693        0.501  -9.577 ***         0.867 -11.047    0.000
-2  4.212        0.501  -5.365 ***         1.001  -5.359    0.000
-1  0.095        0.501  -5.269 ***         1.119  -4.708    0.000
0   0.714        0.501  -4.555 ***         1.226  -3.716    0.000
1  -0.480        0.501  -5.035 ***         1.324  -3.802    0.000
2   1.390        0.501   -3.645 **         1.416  -2.575    0.010
3   0.514        0.501   -3.131 **         1.502  -2.085    0.037
4   1.651        0.501      -1.481         1.583  -0.935    0.350
5  -0.999        0.501       -2.48         1.660  -1.494    0.135

## Wholesale trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/wholesale_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,13):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 12 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -4.531        0.605  -4.531 ***         0.605  -7.486    0.000
-4 -3.287        0.605  -7.818 ***         0.856  -9.134    0.000
-3  6.123        0.605      -1.695         1.048  -1.617    0.106
-2 -0.237        0.605      -1.932         1.210  -1.596    0.111
-1 -0.353        0.605    -2.285 *         1.353  -1.688    0.092
0  -1.327        0.605   -3.612 **         1.483  -2.436    0.015
1   0.302        0.605    -3.31 **         1.601  -2.067    0.039
2   1.199        0.605      -2.111         1.712  -1.233    0.218
3  -1.418        0.605    -3.528 *         1.816  -1.943    0.052
4  -0.347        0.605   -3.876 **         1.914  -2.025    0.043
5   0.838        0.605      -3.037         2.007  -1.513    0.130

## Retail trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/retail_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,40):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 39 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -4.442        0.427  -4.442 ***         0.427 -10.406    0.000
-4 -3.266        0.427  -7.707 ***         0.604 -12.768    0.000
-3  3.415        0.427  -4.292 ***         0.739  -5.805    0.000
-2  1.278        0.427  -3.014 ***         0.854  -3.530    0.000
-1  0.538        0.427   -2.476 **         0.954  -2.594    0.010
0   0.133        0.427   -2.343 **         1.046  -2.241    0.025
1  -2.112        0.427  -4.455 ***         1.129  -3.945    0.000
2   4.122        0.427      -0.333         1.207  -0.276    0.783
3   0.945        0.427       0.613         1.281   0.478    0.632
4  -1.084        0.427      -0.471         1.350  -0.349    0.727
5  -1.939        0.427     -2.41 *         1.416  -1.702    0.089

## Finance

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/finance.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,211):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 210 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -2.297        0.169  -2.297 ***         0.169 -13.575    0.000
-4 -1.047        0.169  -3.345 ***         0.239 -13.974    0.000
-3 -1.640        0.169  -4.985 ***         0.293 -17.005    0.000
-2 -0.392        0.169  -5.377 ***         0.338 -15.885    0.000
-1  3.071        0.169  -2.306 ***         0.378  -6.094    0.000
0  -2.670        0.169  -4.976 ***         0.415 -12.003    0.000
1   1.048        0.169  -3.928 ***         0.448  -8.772    0.000
2   1.705        0.169  -2.223 ***         0.479  -4.643    0.000
3   0.316        0.169  -1.907 ***         0.508  -3.755    0.000
4  -0.023        0.169  -1.929 ***         0.535  -3.605    0.000
5   0.394        0.169  -1.535 ***         0.561  -2.735    0.006

## Services

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/services.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,65):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 64 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -2.479          0.3  -2.479 ***         0.300  -8.263    0.000
-4 -1.748          0.3  -4.227 ***         0.424  -9.964    0.000
-3  4.449          0.3       0.222         0.520   0.427    0.669
-2  0.116          0.3       0.338         0.600   0.564    0.573
-1 -0.659          0.3      -0.321         0.671  -0.478    0.632
0  -0.830          0.3      -1.151         0.735  -1.566    0.117
1  -0.445          0.3   -1.596 **         0.794  -2.011    0.044
2   2.316          0.3        0.72         0.849   0.849    0.396
3  -0.938          0.3      -0.218         0.900  -0.242    0.809
4   0.727          0.3       0.509         0.949   0.537    0.592
5   0.058          0.3       0.567         0.995   0.570    0.569

# Event 1, 10 day window

## Mining

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Mining.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,35):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 34 companies in this study.

        AAR  Std. E. AAR         CAAR  Std. E. CAAR  T-stat  P-value
-10 -11.759        0.738  -11.759 ***         0.738 -15.939    0.000
-9    0.745        0.738  -11.014 ***         1.043 -10.556    0.000
-8   -0.075        0.738  -11.089 ***         1.278  -8.678    0.000
-7   -6.982        0.738  -18.071 ***         1.476 -12.247    0.000
-6    6.259        0.738  -11.811 ***         1.650  -7.160    0.000
-5   -2.098        0.738  -13.909 ***         1.807  -7.697    0.000
-4    6.826        0.738   -7.084 ***         1.952  -3.629    0.000
-3   -0.003        0.738   -7.087 ***         2.087  -3.396    0.001
-2    1.413        0.738    -5.674 **         2.213  -2.564    0.010
-1    0.242        0.738    -5.432 **         2.333  -2.328    0.020
0     1.275        0.738     -4.157 *         2.447  -1.699    0.089
1     5.144        0.738        0.986         2.556   0.386    0.700
2     1.437        0.738        2.424         2.660   0.911    0.362
3    -1.639        0.738        0.784         2.760   0.284    0.776
4    -1.627        0.738       -0.842         2.857  -0.295    0.768
5    -1.685        0.738       -2.528         2.951  -0.857    0.392
6    -0.511        0.738       -3.039         3.042  -0.999    0.318
7    -0.176        0.738       -3.215         3.130  -1.027    0.304
8     7.634        0.738        4.418         3.216   1.374    0.170
9     5.893        0.738   10.311 ***         3.299   3.125    0.002
10    0.742        0.738   11.053 ***         3.381   3.269    0.001

## Construction

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Construction.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,16):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 15 companies in this study.

       AAR  Std. E. AAR         CAAR  Std. E. CAAR  T-stat  P-value
-10  0.742        0.525        0.742         0.525   1.412    0.158
-9  -0.778        0.525       -0.036         0.743  -0.049    0.961
-8   1.439        0.525        1.403         0.910   1.541    0.123
-7   0.135        0.525        1.538         1.051   1.463    0.144
-6  -1.364        0.525        0.174         1.175   0.148    0.883
-5  -0.507        0.525       -0.334         1.287  -0.259    0.795
-4  -1.291        0.525       -1.625         1.390  -1.169    0.243
-3  -2.521        0.525   -4.146 ***         1.486  -2.790    0.005
-2  -4.034        0.525    -8.18 ***         1.576  -5.190    0.000
-1  -0.572        0.525   -8.752 ***         1.662  -5.268    0.000
0    1.026        0.525   -7.726 ***         1.743  -4.434    0.000
1   -4.716        0.525  -12.442 ***         1.820  -6.836    0.000
2   -1.222        0.525  -13.664 ***         1.894  -7.213    0.000
3    1.835        0.525  -11.829 ***         1.966  -6.017    0.000
4   -1.008        0.525  -12.837 ***         2.035  -6.308    0.000
5    0.053        0.525  -12.784 ***         2.102  -6.083    0.000
6   -3.979        0.525  -16.763 ***         2.166  -7.738    0.000
7    0.223        0.525   -16.54 ***         2.229  -7.420    0.000
8    1.750        0.525   -14.79 ***         2.290  -6.458    0.000
9   -2.675        0.525  -17.465 ***         2.350  -7.433    0.000
10   4.311        0.525  -13.154 ***         2.408  -5.463    0.000

## Manufacturing

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Manufacturing.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,104):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 103 companies in this study.

       AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-10 -1.065        0.401  -1.065 ***         0.401  -2.655    0.008
-9   0.919        0.401      -0.147         0.567  -0.258    0.796
-8  -0.304        0.401      -0.451         0.695  -0.649    0.516
-7  -1.517        0.401   -1.968 **         0.802  -2.452    0.014
-6   1.571        0.401      -0.396         0.897  -0.442    0.659
-5  -1.944        0.401    -2.34 **         0.983  -2.381    0.017
-4  -0.538        0.401  -2.878 ***         1.061  -2.711    0.007
-3   0.053        0.401   -2.825 **         1.135  -2.490    0.013
-2   1.574        0.401      -1.251         1.203  -1.040    0.299
-1   0.671        0.401       -0.58         1.269  -0.457    0.647
0   -0.209        0.401       -0.79         1.331  -0.594    0.553
1    0.210        0.401       -0.58         1.390  -0.417    0.676
2    1.399        0.401       0.819         1.446   0.566    0.571
3   -0.179        0.401        0.64         1.501   0.427    0.670
4   -0.279        0.401       0.361         1.554   0.232    0.816
5    0.409        0.401       0.769         1.605   0.480    0.632
6   -0.465        0.401       0.304         1.654   0.184    0.854
7    0.821        0.401       1.125         1.702   0.661    0.509
8    0.382        0.401       1.507         1.749   0.862    0.389
9    0.476        0.401       1.983         1.794   1.105    0.269
10  -0.744        0.401       1.239         1.838   0.674    0.500

## Transport and utilities

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/transportation_etc.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,29):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 28 companies in this study.

       AAR  Std. E. AAR         CAAR  Std. E. CAAR  T-stat  P-value
-10 -0.406        0.468       -0.406         0.468  -0.868    0.385
-9  -0.879        0.468     -1.285 *         0.661  -1.943    0.052
-8   0.518        0.468       -0.767         0.810  -0.947    0.344
-7  -2.369        0.468   -3.136 ***         0.935  -3.353    0.001
-6  -0.536        0.468   -3.672 ***         1.046  -3.512    0.000
-5  -6.996        0.468  -10.668 ***         1.145  -9.313    0.000
-4  -2.923        0.468  -13.591 ***         1.237 -10.984    0.000
-3  -1.324        0.468  -14.915 ***         1.323 -11.276    0.000
-2   4.071        0.468  -10.844 ***         1.403  -7.729    0.000
-1   0.642        0.468  -10.202 ***         1.479  -6.899    0.000
0    0.346        0.468   -9.856 ***         1.551  -6.355    0.000
1    0.295        0.468   -9.561 ***         1.620  -5.902    0.000
2    1.806        0.468   -7.755 ***         1.686  -4.599    0.000
3    0.858        0.468   -6.897 ***         1.750  -3.942    0.000
4    1.265        0.468   -5.632 ***         1.811  -3.110    0.002
5   -1.104        0.468   -6.736 ***         1.871  -3.601    0.000
6    0.509        0.468   -6.227 ***         1.928  -3.230    0.001
7    0.987        0.468    -5.24 ***         1.984  -2.641    0.008
8   -0.918        0.468   -6.158 ***         2.038  -3.021    0.003
9    1.897        0.468    -4.261 **         2.091  -2.037    0.042
10   0.005        0.468    -4.256 **         2.143  -1.986    0.047

## Wholesale trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/wholesale_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,13):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 12 companies in this study.

       AAR  Std. E. AAR         CAAR  Std. E. CAAR  T-stat  P-value
-10 -1.093        0.576     -1.093 *         0.576  -1.899    0.058
-9  -1.937        0.576    -3.03 ***         0.814  -3.722    0.000
-8  -2.327        0.576   -5.357 ***         0.997  -5.373    0.000
-7  -1.613        0.576    -6.97 ***         1.151  -6.054    0.000
-6   0.475        0.576   -6.495 ***         1.287  -5.046    0.000
-5  -5.273        0.576  -11.769 ***         1.410  -8.347    0.000
-4  -3.592        0.576  -15.361 ***         1.523 -10.086    0.000
-3   5.490        0.576   -9.871 ***         1.628  -6.063    0.000
-2  -0.397        0.576  -10.268 ***         1.727  -5.946    0.000
-1   0.149        0.576  -10.119 ***         1.820  -5.559    0.000
0   -1.707        0.576  -11.826 ***         1.909  -6.194    0.000
1    1.024        0.576  -10.802 ***         1.994  -5.417    0.000
2    1.577        0.576   -9.225 ***         2.075  -4.445    0.000
3   -1.111        0.576  -10.336 ***         2.154  -4.799    0.000
4   -0.744        0.576   -11.08 ***         2.229  -4.970    0.000
5    0.713        0.576  -10.367 ***         2.303  -4.502    0.000
6    0.008        0.576  -10.358 ***         2.373  -4.364    0.000
7   -0.439        0.576  -10.797 ***         2.442  -4.421    0.000
8   -0.581        0.576  -11.378 ***         2.509  -4.535    0.000
9   -0.878        0.576  -12.256 ***         2.574  -4.761    0.000
10  -0.226        0.576  -12.482 ***         2.638  -4.732    0.000

## Retail trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/retail_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,40):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 39 companies in this study.

       AAR  Std. E. AAR         CAAR  Std. E. CAAR  T-stat  P-value
-10  0.720        0.397       0.72 *         0.397   1.814    0.070
-9   0.175        0.397        0.895         0.561   1.594    0.111
-8  -1.999        0.397       -1.104         0.687  -1.606    0.108
-7  -1.704        0.397   -2.808 ***         0.794  -3.537    0.000
-6  -1.268        0.397   -4.076 ***         0.887  -4.593    0.000
-5  -4.898        0.397   -8.973 ***         0.972  -9.230    0.000
-4  -3.453        0.397  -12.427 ***         1.050 -11.834    0.000
-3   3.027        0.397     -9.4 ***         1.123  -8.374    0.000
-2   1.179        0.397   -8.221 ***         1.191  -6.905    0.000
-1   0.845        0.397   -7.376 ***         1.255  -5.877    0.000
0   -0.100        0.397   -7.476 ***         1.316  -5.680    0.000
1   -1.670        0.397   -9.147 ***         1.375  -6.653    0.000
2    4.352        0.397   -4.794 ***         1.431  -3.350    0.001
3    1.133        0.397    -3.662 **         1.485  -2.466    0.014
4   -1.327        0.397   -4.989 ***         1.537  -3.246    0.001
5   -2.016        0.397   -7.006 ***         1.588  -4.413    0.000
6   -0.649        0.397   -7.655 ***         1.636  -4.678    0.000
7    0.958        0.397   -6.697 ***         1.684  -3.977    0.000
8   -1.849        0.397   -8.545 ***         1.730  -4.940    0.000
9    0.865        0.397    -7.68 ***         1.775  -4.327    0.000
10   0.880        0.397     -6.8 ***         1.819  -3.739    0.000

## Finance

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/finance.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,211):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 210 companies in this study.

       AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-10 -0.750        0.167   -0.75 ***         0.167  -4.506    0.000
-9   0.508        0.167      -0.242         0.236  -1.030    0.303
-8  -0.103        0.167      -0.346         0.288  -1.198    0.231
-7  -0.996        0.167  -1.341 ***         0.333  -4.028    0.000
-6   1.912        0.167       0.571         0.372   1.533    0.125
-5  -2.664        0.167  -2.093 ***         0.408  -5.131    0.000
-4  -1.178        0.167  -3.271 ***         0.441  -7.423    0.000
-3  -1.947        0.167  -5.218 ***         0.471 -11.079    0.000
-2  -0.445        0.167  -5.663 ***         0.500 -11.335    0.000
-1   3.375        0.167  -2.287 ***         0.527  -4.344    0.000
0   -2.841        0.167  -5.128 ***         0.552  -9.285    0.000
1    1.471        0.167  -3.657 ***         0.577  -6.339    0.000
2    1.943        0.167  -1.714 ***         0.600  -2.855    0.004
3    0.515        0.167    -1.199 *         0.623  -1.924    0.054
4   -0.202        0.167   -1.401 **         0.645  -2.173    0.030
5    0.361        0.167      -1.041         0.666  -1.562    0.118
6    0.450        0.167      -0.591         0.687  -0.860    0.390
7   -0.182        0.167      -0.773         0.707  -1.094    0.274
8    0.315        0.167      -0.458         0.726  -0.631    0.528
9    0.061        0.167      -0.396         0.745  -0.532    0.595
10   0.002        0.167      -0.395         0.763  -0.517    0.605

## Services

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/services.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,65):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 64 companies in this study.

       AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-10 -0.557        0.272   -0.557 **         0.272  -2.050    0.040
-9   0.247        0.272       -0.31         0.384  -0.807    0.419
-8  -1.408        0.272  -1.718 ***         0.471  -3.651    0.000
-7  -1.466        0.272  -3.184 ***         0.544  -5.858    0.000
-6  -1.545        0.272  -4.729 ***         0.608  -7.783    0.000
-5  -3.101        0.272   -7.83 ***         0.666 -11.763    0.000
-4  -2.000        0.272   -9.83 ***         0.719 -13.672    0.000
-3   3.920        0.272   -5.91 ***         0.769  -7.689    0.000
-2  -0.013        0.272  -5.923 ***         0.815  -7.265    0.000
-1  -0.228        0.272  -6.151 ***         0.859  -7.157    0.000
0   -1.145        0.272  -7.296 ***         0.901  -8.095    0.000
1    0.173        0.272  -7.123 ***         0.941  -7.567    0.000
2    2.642        0.272  -4.481 ***         0.980  -4.574    0.000
3   -0.673        0.272  -5.154 ***         1.017  -5.069    0.000
4    0.398        0.272  -4.756 ***         1.052  -4.519    0.000
5   -0.042        0.272  -4.797 ***         1.087  -4.413    0.000
6    0.133        0.272  -4.664 ***         1.120  -4.163    0.000
7    0.171        0.272  -4.493 ***         1.153  -3.897    0.000
8   -0.314        0.272  -4.807 ***         1.185  -4.059    0.000
9   -0.016        0.272  -4.823 ***         1.215  -3.969    0.000
10  -0.025        0.272  -4.848 ***         1.245  -3.893    0.000

# Event 2, 5 day window

## Mining

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Mining.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,35):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 34 companies in this study.

      AAR  Std. E. AAR    CAAR  Std. E. CAAR  T-stat  P-value
-5 -0.738        1.388  -0.738         1.388  -0.532    0.595
-4  1.177        1.388   0.439         1.962   0.224    0.823
-3 -3.070        1.388  -2.631         2.403  -1.095    0.274
-2  1.560        1.388  -1.071         2.775  -0.386    0.700
-1 -0.671        1.388  -1.741         3.103  -0.561    0.575
0   1.298        1.388  -0.443         3.399  -0.130    0.896
1   1.011        1.388   0.568         3.671   0.155    0.877
2  -0.199        1.388   0.369         3.925   0.094    0.925
3  -0.669        1.388  -0.301         4.163  -0.072    0.942
4  -0.238        1.388  -0.539         4.388  -0.123    0.902
5  -0.870        1.388  -1.409         4.602  -0.306    0.759

## Construction

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Construction.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,16):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 15 companies in this study.

      AAR  Std. E. AAR      CAAR  Std. E. CAAR  T-stat  P-value
-5 -0.034        0.666    -0.034         0.666  -0.051    0.960
-4 -0.932        0.666    -0.966         0.941  -1.026    0.305
-3 -0.233        0.666      -1.2         1.153  -1.040    0.298
-2  0.633        0.666    -0.567         1.331  -0.426    0.670
-1  0.428        0.666    -0.138         1.489  -0.093    0.926
0  -0.281        0.666     -0.42         1.631  -0.257    0.797
1   1.773        0.666     1.354         1.761   0.768    0.442
2   0.293        0.666     1.647         1.883   0.875    0.382
3   0.260        0.666     1.907         1.997   0.955    0.340
4   0.577        0.666     2.483         2.105   1.180    0.238
5   3.033        0.666  5.517 **         2.208   2.499    0.013

## Manufacturing

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Manufacturing.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,104):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 103 companies in this study.

      AAR  Std. E. AAR     CAAR  Std. E. CAAR  T-stat  P-value
-5  0.392        0.356    0.392         0.356   1.102    0.270
-4  0.678        0.356  1.07 **         0.503   2.127    0.033
-3 -1.218        0.356   -0.148         0.616  -0.239    0.811
-2 -0.059        0.356   -0.207         0.712  -0.290    0.772
-1 -0.050        0.356   -0.257         0.796  -0.323    0.747
0  -0.027        0.356   -0.284         0.872  -0.325    0.745
1   0.303        0.356    0.019         0.942   0.020    0.984
2  -0.172        0.356   -0.152         1.007  -0.151    0.880
3  -0.555        0.356   -0.707         1.068  -0.662    0.508
4   0.774        0.356    0.067         1.125   0.059    0.953
5  -1.049        0.356   -0.982         1.180  -0.832    0.406

## Transport and utilities

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/transportation_etc.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,29):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 28 companies in this study.

      AAR  Std. E. AAR    CAAR  Std. E. CAAR  T-stat  P-value
-5  0.518        0.641   0.518         0.641   0.809    0.419
-4 -0.588        0.641   -0.07         0.906  -0.077    0.939
-3 -0.595        0.641  -0.665         1.110  -0.599    0.549
-2 -0.251        0.641  -0.916         1.281  -0.715    0.475
-1  0.388        0.641  -0.528         1.432  -0.368    0.713
0  -0.672        0.641    -1.2         1.569  -0.765    0.444
1   0.595        0.641  -0.606         1.695  -0.357    0.721
2  -0.380        0.641  -0.985         1.812  -0.544    0.587
3   0.026        0.641  -0.959         1.922  -0.499    0.618
4   0.057        0.641  -0.902         2.026  -0.445    0.656
5   3.689        0.641   2.787         2.125   1.312    0.190

## Wholesale trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/wholesale_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,13):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 12 companies in this study.

      AAR  Std. E. AAR    CAAR  Std. E. CAAR  T-stat  P-value
-5  0.626        0.843   0.626         0.843   0.742    0.458
-4 -0.069        0.843   0.557         1.193   0.467    0.641
-3 -0.216        0.843   0.342         1.461   0.234    0.815
-2 -0.339        0.843   0.003         1.687   0.002    0.999
-1  0.165        0.843   0.168         1.886   0.089    0.929
0   0.379        0.843   0.547         2.066   0.265    0.791
1  -0.242        0.843   0.305         2.232   0.136    0.891
2  -0.430        0.843  -0.125         2.386  -0.053    0.958
3   0.713        0.843   0.587         2.530   0.232    0.816
4  -0.021        0.843   0.567         2.667   0.212    0.832
5   0.229        0.843   0.796         2.798   0.285    0.776

## Retail trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/retail_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,40):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 39 companies in this study.

      AAR  Std. E. AAR      CAAR  Std. E. CAAR  T-stat  P-value
-5  1.110        0.642    1.11 *         0.642   1.731    0.084
-4 -0.193        0.642     0.917         0.907   1.011    0.312
-3 -0.801        0.642     0.117         1.111   0.105    0.916
-2 -0.461        0.642    -0.344         1.283  -0.268    0.788
-1  0.044        0.642      -0.3         1.434  -0.209    0.834
0  -1.132        0.642    -1.432         1.571  -0.911    0.362
1  -0.494        0.642    -1.926         1.697  -1.135    0.257
2  -1.312        0.642  -3.238 *         1.814  -1.784    0.074
3   0.162        0.642    -3.076         1.925  -1.598    0.110
4  -0.181        0.642    -3.257         2.029  -1.606    0.108
5   1.998        0.642     -1.26         2.128  -0.592    0.554

## Finance

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/finance.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,211):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 210 companies in this study.

      AAR  Std. E. AAR       CAAR  Std. E. CAAR  T-stat  P-value
-5  0.459         0.16  0.459 ***         0.160   2.863    0.004
-4  0.388         0.16  0.847 ***         0.227   3.735    0.000
-3 -0.577         0.16      0.269         0.278   0.970    0.332
-2  0.148         0.16      0.417         0.321   1.302    0.193
-1 -0.130         0.16      0.287         0.358   0.801    0.423
0   0.094         0.16      0.381         0.393   0.969    0.332
1  -0.196         0.16      0.184         0.424   0.435    0.664
2  -0.104         0.16      0.081         0.453   0.178    0.859
3   0.521         0.16      0.602         0.481   1.252    0.211
4   0.224         0.16      0.826         0.507   1.629    0.103
5   0.828         0.16  1.654 ***         0.532   3.111    0.002

## Services

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/services.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,65):
  industry_events.append(
    es.Single.market_model(
    security_ticker=str(company_ticker),
    market_ticker='ftse_250',
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 64 companies in this study.

      AAR  Std. E. AAR      CAAR  Std. E. CAAR  T-stat  P-value
-5 -0.730        0.418   -0.73 *         0.418  -1.749    0.080
-4  0.241        0.418    -0.489         0.591  -0.828    0.407
-3 -0.846        0.418  -1.336 *         0.723  -1.846    0.065
-2  0.161        0.418    -1.174         0.835  -1.406    0.160
-1 -0.022        0.418    -1.196         0.934  -1.281    0.200
0  -0.517        0.418  -1.714 *         1.023  -1.675    0.094
1  -0.407        0.418  -2.121 *         1.105  -1.919    0.055
2   0.477        0.418    -1.644         1.181  -1.392    0.164
3  -0.173        0.418    -1.817         1.253  -1.450    0.147
4  -0.343        0.418     -2.16         1.321  -1.635    0.102
5   1.730        0.418     -0.43         1.385  -0.310    0.757

# Event 1, 10 day window, Fama-french

## Mining

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Mining.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,35):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 34 companies in this study.

       AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-10 -8.666        0.726  -8.666 ***         0.726 -11.932    0.000
-9   2.184        0.726  -6.482 ***         1.027  -6.310    0.000
-8   0.955        0.726  -5.526 ***         1.258  -4.393    0.000
-7  -0.448        0.726  -5.975 ***         1.453  -4.113    0.000
-6   4.249        0.726      -1.726         1.624  -1.063    0.288
-5   0.518        0.726      -1.208         1.779  -0.679    0.497
-4   5.371        0.726    4.162 **         1.922   2.166    0.030
-3   0.745        0.726    4.908 **         2.054   2.389    0.017
-2   0.587        0.726    5.495 **         2.179   2.522    0.012
-1   2.702        0.726   8.198 ***         2.297   3.569    0.000
0    0.651        0.726   8.848 ***         2.409   3.673    0.000
1    2.353        0.726  11.202 ***         2.516   4.452    0.000
2    0.905        0.726  12.106 ***         2.619   4.623    0.000
3   -2.346        0.726    9.76 ***         2.718   3.591    0.000
4   -2.721        0.726    7.039 **         2.813   2.502    0.012
5   -1.482        0.726     5.557 *         2.905   1.913    0.056
6    0.207        0.726     5.764 *         2.995   1.925    0.054
7    0.320        0.726    6.083 **         3.081   1.974    0.048
8    6.864        0.726  12.948 ***         3.166   4.090    0.000
9    5.832        0.726   18.78 ***         3.248   5.782    0.000
10   0.911        0.726  19.691 ***         3.328   5.916    0.000

## Construction

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Construction.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,16):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 15 companies in this study.

       AAR  Std. E. AAR         CAAR  Std. E. CAAR  T-stat  P-value
-10  1.418        0.548     1.418 **         0.548   2.589    0.010
-9   0.712        0.548     2.13 ***         0.775   2.750    0.006
-8   2.881        0.548    5.011 ***         0.949   5.283    0.000
-7   3.937        0.548    8.948 ***         1.095   8.169    0.000
-6  -2.190        0.548    6.757 ***         1.225   5.518    0.000
-5   2.148        0.548    8.905 ***         1.342   6.638    0.000
-4  -0.599        0.548    8.306 ***         1.449   5.732    0.000
-3  -3.207        0.548    5.099 ***         1.549   3.292    0.001
-2  -3.856        0.548        1.243         1.643   0.757    0.449
-1   2.521        0.548     3.764 **         1.732   2.173    0.030
0   -0.492        0.548      3.272 *         1.816   1.802    0.072
1   -3.687        0.548       -0.414         1.897  -0.218    0.827
2   -0.632        0.548       -1.047         1.975  -0.530    0.596
3    1.726        0.548        0.679         2.049   0.332    0.740
4   -4.799        0.548     -4.119 *         2.121  -1.942    0.052
5    0.159        0.548      -3.96 *         2.191  -1.808    0.071
6   -3.310        0.548    -7.27 ***         2.258  -3.219    0.001
7   -1.103        0.548   -8.373 ***         2.324  -3.604    0.000
8    1.337        0.548   -7.036 ***         2.387  -2.948    0.003
9   -3.233        0.548  -10.269 ***         2.449  -4.193    0.000
10   6.183        0.548       -4.086         2.510  -1.628    0.104

## Manufacturing

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Manufacturing.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,104):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 103 companies in this study.

       AAR  Std. E. AAR       CAAR  Std. E. CAAR  T-stat  P-value
-10 -0.255        0.398     -0.255         0.398  -0.641    0.521
-9   2.289        0.398  2.034 ***         0.563   3.615    0.000
-8   0.778        0.398  2.812 ***         0.689   4.081    0.000
-7   2.170        0.398  4.982 ***         0.796   6.262    0.000
-6   0.198        0.398   5.18 ***         0.890   5.823    0.000
-5  -1.258        0.398  3.922 ***         0.974   4.025    0.000
-4  -1.682        0.398    2.24 **         1.052   2.128    0.033
-3  -0.172        0.398    2.068 *         1.125   1.838    0.066
-2   0.620        0.398   2.688 **         1.193   2.253    0.024
-1   3.122        0.398   5.81 ***         1.258   4.619    0.000
0   -0.675        0.398  5.135 ***         1.319   3.892    0.000
1   -0.345        0.398   4.79 ***         1.378   3.476    0.001
2    1.395        0.398  6.186 ***         1.434   4.313    0.000
3   -0.824        0.398  5.361 ***         1.488   3.602    0.000
4   -2.009        0.398   3.353 **         1.541   2.176    0.030
5   -0.247        0.398    3.106 *         1.591   1.952    0.051
6    0.328        0.398   3.434 **         1.640   2.094    0.036
7    0.563        0.398   3.998 **         1.688   2.369    0.018
8    0.118        0.398   4.116 **         1.734   2.374    0.018
9    0.094        0.398    4.21 **         1.779   2.367    0.018
10   0.054        0.398   4.264 **         1.823   2.339    0.019

## Transport and utilities

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/transportation_etc.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,29):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 28 companies in this study.

       AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-10  1.183         0.47    1.183 **         0.470   2.518    0.012
-9   0.371         0.47    1.554 **         0.664   2.339    0.019
-8   1.540         0.47   3.093 ***         0.814   3.802    0.000
-7   1.945         0.47   5.038 ***         0.939   5.363    0.000
-6  -1.781         0.47   3.257 ***         1.050   3.101    0.002
-5  -4.648         0.47      -1.391         1.151  -1.209    0.227
-4  -3.198         0.47  -4.589 ***         1.243  -3.693    0.000
-3  -1.494         0.47  -6.083 ***         1.329  -4.579    0.000
-2   3.886         0.47      -2.197         1.409  -1.559    0.119
-1   3.284         0.47       1.087         1.485   0.732    0.464
0   -0.840         0.47       0.247         1.558   0.159    0.874
1   -0.203         0.47       0.044         1.627   0.027    0.979
2    2.018         0.47       2.062         1.694   1.218    0.223
3    0.724         0.47       2.787         1.758   1.585    0.113
4   -1.088         0.47       1.699         1.819   0.934    0.350
5   -0.822         0.47       0.877         1.879   0.467    0.641
6    1.202         0.47       2.079         1.937   1.074    0.283
7    0.468         0.47       2.547         1.993   1.278    0.201
8   -1.522         0.47       1.025         2.048   0.501    0.617
9    1.566         0.47       2.591         2.101   1.233    0.218
10   1.108         0.47     3.699 *         2.153   1.718    0.086

## Wholesale trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/wholesale_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,13):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 12 companies in this study.

       AAR  Std. E. AAR         CAAR  Std. E. CAAR  T-stat  P-value
-10 -0.891        0.583       -0.891         0.583  -1.529    0.127
-9  -0.737        0.583    -1.628 **         0.825  -1.975    0.049
-8  -1.269        0.583   -2.897 ***         1.010  -2.869    0.004
-7   1.012        0.583       -1.885         1.166  -1.617    0.106
-6  -0.385        0.583      -2.27 *         1.304  -1.741    0.082
-5  -4.328        0.583   -6.598 ***         1.428  -4.620    0.000
-4  -3.837        0.583  -10.435 ***         1.543  -6.765    0.000
-3   4.908        0.583   -5.527 ***         1.649  -3.351    0.001
-2  -0.810        0.583   -6.337 ***         1.749  -3.623    0.000
-1   2.523        0.583    -3.814 **         1.844  -2.069    0.039
0   -2.505        0.583   -6.319 ***         1.934  -3.268    0.001
1    1.599        0.583     -4.72 **         2.020  -2.337    0.020
2    1.925        0.583       -2.795         2.102  -1.330    0.184
3   -1.416        0.583     -4.211 *         2.182  -1.930    0.054
4   -3.137        0.583   -7.348 ***         2.258  -3.254    0.001
5    0.292        0.583   -7.056 ***         2.332  -3.026    0.003
6    0.675        0.583   -6.382 ***         2.404  -2.655    0.008
7   -1.220        0.583   -7.602 ***         2.474  -3.073    0.002
8   -0.782        0.583   -8.384 ***         2.541  -3.299    0.001
9   -1.342        0.583   -9.726 ***         2.607  -3.730    0.000
10   1.008        0.583   -8.718 ***         2.672  -3.263    0.001

## Retail trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/retail_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,40):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 39 companies in this study.

       AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-10  1.583        0.401   1.583 ***         0.401   3.945    0.000
-9   1.355        0.401   2.938 ***         0.568   5.176    0.000
-8  -0.915        0.401   2.023 ***         0.695   2.910    0.004
-7   1.642        0.401   3.666 ***         0.803   4.566    0.000
-6  -2.077        0.401     1.589 *         0.897   1.770    0.077
-5  -2.587        0.401      -0.998         0.983  -1.015    0.310
-4  -3.045        0.401  -4.043 ***         1.062  -3.807    0.000
-3   2.522        0.401      -1.521         1.135  -1.340    0.180
-2   1.323        0.401      -0.198         1.204  -0.165    0.869
-1   3.436        0.401    3.237 **         1.269   2.551    0.011
0   -1.438        0.401       1.799         1.331   1.351    0.177
1   -1.118        0.401       0.681         1.390   0.490    0.624
2    4.830        0.401   5.511 ***         1.447   3.808    0.000
3    1.149        0.401    6.66 ***         1.502   4.435    0.000
4   -4.273        0.401       2.387         1.554   1.535    0.125
5   -1.756        0.401       0.631         1.605   0.393    0.694
6   -0.052        0.401       0.579         1.655   0.350    0.727
7   -0.020        0.401       0.559         1.703   0.328    0.743
8   -2.308        0.401      -1.749         1.749  -1.000    0.317
9    0.437        0.401      -1.313         1.795  -0.731    0.465
10   2.354        0.401       1.042         1.839   0.566    0.571

## Finance

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/finance.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,211):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 210 companies in this study.

       AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-10  0.537        0.166   0.537 ***         0.166   3.244    0.001
-9   1.882        0.166   2.419 ***         0.234  10.333    0.000
-8   0.771        0.166   3.189 ***         0.287  11.125    0.000
-7   3.100        0.166    6.29 ***         0.331  19.001    0.000
-6   0.046        0.166   6.336 ***         0.370  17.119    0.000
-5  -2.312        0.166   4.024 ***         0.405   9.924    0.000
-4  -3.174        0.166     0.849 *         0.438   1.939    0.052
-3  -2.183        0.166  -1.334 ***         0.468  -2.849    0.004
-2  -1.749        0.166  -3.082 ***         0.497  -6.208    0.000
-1   6.166        0.166   3.083 ***         0.523   5.890    0.000
0   -3.412        0.166      -0.329         0.549  -0.599    0.549
1    0.256        0.166      -0.073         0.573  -0.127    0.899
2    1.944        0.166   1.871 ***         0.597   3.136    0.002
3    0.023        0.166   1.894 ***         0.619   3.058    0.002
4   -1.456        0.166       0.438         0.641   0.684    0.494
5   -0.206        0.166       0.232         0.662   0.350    0.726
6    1.520        0.166    1.752 **         0.682   2.567    0.010
7   -0.144        0.166    1.608 **         0.702   2.289    0.022
8   -0.183        0.166    1.424 **         0.721   1.974    0.048
9   -0.330        0.166       1.094         0.740   1.478    0.139
10   0.680        0.166    1.774 **         0.758   2.339    0.019

## Services

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/services.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,65):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-03-23'),
    event_window=(-10,+10),
    estimation_size=115,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 64 companies in this study.

       AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-10 -0.014        0.273      -0.014         0.273  -0.052    0.959
-9   1.633        0.273   1.619 ***         0.386   4.197    0.000
-8  -0.329        0.273    1.29 ***         0.473   2.730    0.006
-7   1.860        0.273    3.15 ***         0.546   5.774    0.000
-6  -2.891        0.273       0.259         0.610   0.425    0.671
-5  -2.462        0.273  -2.203 ***         0.668  -3.296    0.001
-4  -3.024        0.273  -5.227 ***         0.722  -7.242    0.000
-3   3.362        0.273   -1.865 **         0.772  -2.417    0.016
-2  -0.868        0.273  -2.733 ***         0.818  -3.339    0.001
-1   2.566        0.273      -0.166         0.863  -0.193    0.847
0   -1.917        0.273   -2.083 **         0.905  -2.302    0.021
1    0.172        0.273   -1.912 **         0.945  -2.023    0.043
2    2.912        0.273       1.001         0.984   1.018    0.309
3   -1.078        0.273      -0.077         1.021  -0.075    0.940
4   -1.770        0.273    -1.846 *         1.057  -1.748    0.081
5   -0.622        0.273   -2.469 **         1.091  -2.262    0.024
6    1.052        0.273      -1.417         1.125  -1.260    0.208
7   -0.379        0.273      -1.796         1.157  -1.552    0.121
8   -0.635        0.273   -2.431 **         1.189  -2.044    0.041
9   -0.517        0.273   -2.948 **         1.220  -2.416    0.016
10   1.132        0.273      -1.816         1.250  -1.452    0.146

# Event 2, 5 day window, Fama-french

## Mining

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Mining.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,35):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 34 companies in this study.

      AAR  Std. E. AAR       CAAR  Std. E. CAAR  T-stat  P-value
-5 -3.062        1.359  -3.062 **         1.359  -2.254    0.024
-4  0.569        1.359     -2.493         1.922  -1.297    0.195
-3 -3.054        1.359  -5.547 **         2.354  -2.357    0.018
-2  2.744        1.359     -2.803         2.718  -1.031    0.302
-1 -0.132        1.359     -2.935         3.038  -0.966    0.334
0   0.405        1.359      -2.53         3.328  -0.760    0.447
1   1.178        1.359     -1.352         3.595  -0.376    0.707
2  -0.636        1.359     -1.988         3.843  -0.517    0.605
3   0.858        1.359      -1.13         4.077  -0.277    0.782
4  -0.975        1.359     -2.106         4.297  -0.490    0.624
5   3.356        1.359       1.25         4.507   0.277    0.782

## Construction

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Construction.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,16):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 15 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -2.738        0.724  -2.738 ***         0.724  -3.783    0.000
-4 -1.512        0.724   -4.25 ***         1.024  -4.152    0.000
-3 -1.222        0.724  -5.472 ***         1.254  -4.365    0.000
-2  2.343        0.724   -3.129 **         1.448  -2.162    0.031
-1  1.072        0.724      -2.057         1.618  -1.271    0.204
0  -1.166        0.724    -3.223 *         1.773  -1.818    0.069
1   2.786        0.724      -0.437         1.915  -0.228    0.820
2   0.290        0.724      -0.147         2.047  -0.072    0.943
3   1.160        0.724       1.014         2.171   0.467    0.641
4  -0.687        0.724       0.327         2.289   0.143    0.887
5   9.087        0.724   9.414 ***         2.401   3.921    0.000

## Manufacturing

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/Manufacturing.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,104):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 103 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -1.662         0.36  -1.662 ***         0.360  -4.612    0.000
-4  0.281         0.36  -1.381 ***         0.510  -2.709    0.007
-3 -1.981         0.36  -3.361 ***         0.624  -5.386    0.000
-2  1.287         0.36  -2.074 ***         0.721  -2.879    0.004
-1  0.447         0.36   -1.627 **         0.806  -2.020    0.043
0  -0.537         0.36   -2.165 **         0.883  -2.453    0.014
1   0.951         0.36      -1.214         0.953  -1.273    0.203
2  -0.337         0.36      -1.551         1.019  -1.522    0.128
3  -0.142         0.36      -1.693         1.081  -1.566    0.117
4  -0.273         0.36    -1.965 *         1.139  -1.725    0.085
5   3.537         0.36       1.571         1.195   1.315    0.189

## Transport and utilities

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/transportation_etc.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,29):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 28 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -2.366        0.664  -2.366 ***         0.664  -3.565    0.000
-4 -1.538        0.664  -3.904 ***         0.939  -4.159    0.000
-3 -1.133        0.664  -5.036 ***         1.150  -4.381    0.000
-2  1.038        0.664  -3.998 ***         1.327  -3.012    0.003
-1  1.014        0.664   -2.984 **         1.484  -2.011    0.044
0  -1.677        0.664   -4.66 ***         1.626  -2.867    0.004
1   1.223        0.664    -3.437 *         1.756  -1.957    0.050
2  -0.499        0.664   -3.936 **         1.877  -2.097    0.036
3   1.662        0.664      -2.274         1.991  -1.142    0.253
4  -0.881        0.664      -3.155         2.099  -1.503    0.133
5   9.563        0.664   6.408 ***         2.201   2.911    0.004

## Wholesale trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/wholesale_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,13):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 12 companies in this study.

      AAR  Std. E. AAR    CAAR  Std. E. CAAR  T-stat  P-value
-5 -1.345        0.875  -1.345         0.875  -1.537    0.125
-4 -0.123        0.875  -1.468         1.237  -1.186    0.236
-3 -1.232        0.875  -2.7 *         1.515  -1.781    0.075
-2  1.434        0.875  -1.265         1.750  -0.723    0.470
-1  0.703        0.875  -0.562         1.956  -0.287    0.774
0  -0.001        0.875  -0.564         2.143  -0.263    0.793
1   0.573        0.875    0.01         2.315   0.004    0.997
2  -0.679        0.875  -0.669         2.475  -0.270    0.787
3   0.496        0.875  -0.173         2.625  -0.066    0.948
4  -1.386        0.875  -1.558         2.767  -0.563    0.573
5   4.934        0.875   3.375         2.902   1.163    0.245

## Retail trade

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/retail_trade.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,40):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 39 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -1.727        0.662  -1.727 ***         0.662  -2.609    0.009
-4 -0.682        0.662    -2.41 **         0.936  -2.574    0.010
-3 -1.738        0.662  -4.148 ***         1.147  -3.617    0.000
-2  1.482        0.662   -2.666 **         1.324  -2.013    0.044
-1  0.743        0.662      -1.922         1.480  -1.298    0.194
0  -2.132        0.662   -4.054 **         1.622  -2.500    0.012
1   0.544        0.662    -3.51 **         1.752  -2.004    0.045
2  -1.392        0.662  -4.902 ***         1.873  -2.618    0.009
3   1.148        0.662    -3.754 *         1.986  -1.890    0.059
4  -1.551        0.662   -5.306 **         2.094  -2.534    0.011
5   8.244        0.662       2.938         2.196   1.338    0.181

## Finance

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/finance.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
# Import ff returns
es.Single.import_FamaFrench(
    '/content/gdrive/MyDrive/stock_data/fama_french_factors.csv',
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,211):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 210 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -1.506        0.166  -1.506 ***         0.166  -9.068    0.000
-4  0.154        0.166  -1.352 ***         0.235  -5.756    0.000
-3 -1.265        0.166  -2.617 ***         0.288  -9.098    0.000
-2  1.633        0.166  -0.984 ***         0.332  -2.962    0.003
-1  0.374        0.166       -0.61         0.371  -1.643    0.100
0  -0.487        0.166  -1.097 ***         0.407  -2.697    0.007
1   0.471        0.166      -0.626         0.439  -1.425    0.154
2  -0.295        0.166    -0.922 *         0.470  -1.962    0.050
3   0.929        0.166       0.007         0.498   0.015    0.988
4  -0.851        0.166      -0.844         0.525  -1.607    0.108
5   5.177        0.166   4.333 ***         0.551   7.868    0.000

## Services

In [ ]:
# Import industry returns
es.Single.import_returns(
    '/content/gdrive/MyDrive/stock_data/services.csv',
    is_price = False,
    date_format = '%Y-%m-%d'
)
#Create list that will store each company event
industry_events=[]
#Iterate throuch each company and store that companies event study results in the list above
#Data was processed so that each company ticker is now an ordered number 
for company_ticker in range(1,65):
  industry_events.append(
    es.Single.FamaFrench_3factor(
    security_ticker=str(company_ticker),
    event_date=np.datetime64('2020-11-02'),
    event_window=(-5,+5),
    estimation_size=120,
    buffer_size=0
)
  )
#Print how many companies there are
print(f'In this industry there are {len(industry_events)} companies in this study.')
# Give the results for this industry
es.Multiple(industry_events).results()

In this industry there are 64 companies in this study.

      AAR  Std. E. AAR        CAAR  Std. E. CAAR  T-stat  P-value
-5 -2.782        0.425  -2.782 ***         0.425  -6.541    0.000
-4  0.090        0.425  -2.693 ***         0.602  -4.476    0.000
-3 -1.653        0.425  -4.346 ***         0.737  -5.899    0.000
-2  1.848        0.425  -2.497 ***         0.851  -2.936    0.003
-1  0.522        0.425   -1.976 **         0.951  -2.077    0.038
0  -1.071        0.425  -3.046 ***         1.042  -2.924    0.003
1   0.334        0.425   -2.713 **         1.125  -2.411    0.016
2   0.236        0.425   -2.476 **         1.203  -2.058    0.040
3   0.045        0.425    -2.431 *         1.276  -1.905    0.057
4  -1.576        0.425  -4.008 ***         1.345  -2.980    0.003
5   6.365        0.425     2.357 *         1.411   1.671    0.095